<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input class="form-control" placeholder="请输入商品名称" [formControl]="titleFilter">
        </div>
    </div>
</div>
<div *ngFor="let product of products | filter:'title':keyword" class="col-md-4 col-sm-4 col-lg-4">
    <div class="thumbnail">
        <!--数据绑定：使用方括号将HTML标签的一个属性绑定到一个表达式上-->
        <img [src]="imgUrl">
        <div class="caption">
            <!--数据绑定：使用插值表达式将一个表达式的值显示在模板上-->
            <h4 class="pull-right">{{product.price}}元</h4>
            <h4><a [routerLink]="['/product', product.id]">{{product.title}}</a></h4>
            <p>{{product.desc}}</p>
        </div>
        <div>
            <app-stars [rating]="product.rating"></app-stars>
        </div>
    </div>
</div>